.container.row
  - @categories.each do |category|
    .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
      .card.first
        -# = link_to quiz_path(@quiz), method: :get, class: ".card.first"
        .card-header 
          =category.category_name
        .card-body
          %h5.card-title 
          %p.card-text 
            = category.category_name
          %p.card-text
            問題を解く
            link_to
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.second
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.third
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.first
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.second
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.third
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.first
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.second
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.third
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.first
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.second
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
  -# .outercard.mx-auto.col-xs-11.col-sm-6.col-lg-4
  -#   .card.third
  -#     .card-header Header
  -#     .card-body
  -#       %h5.card-title Primary card title
  -#       %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

  
