.clear.hidden
  クリア
.container
  .container__row
    .container__row--box
      %p 秋
    .container__row--box
      %p 意
    .container__row--box
      %p 心
    .container__row--box
      %p 地
  .container__row
    .container__row--box
      %p 鮑
    .container__row--box
      %p 刀
    .container__row--box
      %p 気
    .container__row--box
      %p 質
  .container__row
    .container__row--box
      %p 魚
    .container__row--box
      %p 煙
    .container__row--box
      %p 地
    .container__row--box
      %p 面
  .container__row
    .container__row--box
      %p 草
    .container__row--box
      %p 乙
    .container__row--box
      %p 女
    .container__row--box
      %p 子
.button-area
  %button
    正解！
