.clear.hidden
  クリア
.keshimas
  .keshimas__row
    .keshimas__row--box
      %p 秋
    .keshimas__row--box
      %p 意
    .keshimas__row--box
      %p 心
    .keshimas__row--box
      %p 地
  .keshimas__row
    .keshimas__row--box
      %p 鮑
    .keshimas__row--box
      %p 刀
    .keshimas__row--box
      %p 気
    .keshimas__row--box
      %p 質
  .keshimas__row
    .keshimas__row--box
      %p 魚
    .keshimas__row--box
      %p 煙
    .keshimas__row--box
      %p 地
    .keshimas__row--box
      %p 面
  .keshimas__row
    .keshimas__row--box
      %p 草
    .keshimas__row--box
      %p 乙
    .keshimas__row--box
      %p 女
    .keshimas__row--box
      %p 子
.button-area
  %button
    正解！
