お気に入りの問題
= link_to favorite_user_path do
  %p 問題を解く
ミスった問題
= link_to mistake_user_path do
  %p 問題を解く
= link_to 'ログアウト', destroy_user_session_path, method: :delete
%br
= link_to '漢字ケシマス', keshimas_quizzes_path