.judge{
  display: flex;
  justify-content: center;
  .judge-yet{
    padding: 0 10px;
    font-size: 54px;
    color: white;
  }
  .judged{
    padding: 0 10px;
    font-size: 54px;
    color: #4064AD;
  }
}