* {
  box-sizing: border-box;
}
.hidden{
  display: none;
}

pre {
  border: 0; background-color: transparent;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
  background-color: rgb(160, 197, 97);
  .navbar-brand{
    padding-left: 20px;
    text-align: center;
    color: white;
    .navbar-toggler{
      color: white;
    }
  }
  .collapse{
    width: 100vw;
    background-color: rgb(160, 197, 97);
    .nav-item{
      padding-left: 20px;
      color:white;
    }
  }
}
body{
  height: 100%;
  padding-top: 60px;
}
.container{
  display: flex;
  width: calc(100%);
  margin: 30px auto 0;
  padding-bottom: 30px; 
  text-align: center;
  .first{
    background: -moz-linear-gradient(top left, #FFF, pink); 
    background: -webkit-linear-gradient(top left, #FFF, pink); 
    background: linear-gradient(to bottom right, #FFF, pink); 
  }
  .second{
    background: -moz-linear-gradient(top left, #FFF, aquamarine); 
    background: -webkit-linear-gradient(top left, #FFF, rgb(159, 241, 214)); 
    background: linear-gradient(to bottom right, #FFF, aquamarine);   
  }
  .third{
    background: -moz-linear-gradient(top left, #FFF, yellow); 
    background: -webkit-linear-gradient(top left, #FFF, rgb(159, 241, 214)); 
    background: linear-gradient(to bottom right, #FFF, yellow);   
  }
  .card{
    height: 300px;
    margin: 10px;
    color: #444444;
  }
  

  // showページ
  .quiz-container{
    margin: 0 auto;
    .correct{
      background-color: #A9DBA8;
    }
    .incorrect{
      background-color: rgb(231, 156, 156);
    }
    .quiz-bg{
      background-color: lightgray;
    }
    .quiz-content{
      position: relative;
      width: 500px;
      margin: 0 auto 30px;
      padding: 0 0 80px;
      border-radius: 10px;
      .quiz-title{
        display: block;
        position: absolute;
        left: 20px;
        top: 30px;
        font-size: 32px;
        font-weight: bold;
      }
      .quiz-quiz{
        padding: 80px 30px 0;
        text-align: left;
        font-size: 26px;
        text-decoration: underline;
        line-height:2em;
      }
      .explanation{
        margin: 10px 20px;
        text-align: left;
        font-size: 32px;
        border: 2px solid #eeeeee;
        .explanationh{
          padding: 10px 0 10px 10px;
          font-weight: bold;
        }
        .explanationp{
          pre{
            padding-left: 20px;
            font-size: 20px;
          }
        }
      }
      .dropdown{
        position: absolute;
        left: 20px;
        bottom: 20px;
      }
    }
  }
}