.header
  .header__left
    = link_to 'マイページ', user_path(current_user.id)
  .header-spacer
  .header__center
    = link_to 'top', root_path
  .header__search
    %input
  .header__right
    = link_to 'クイズを投稿する', new_quiz_path